{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "AutomationManagementClient",
        "version": "2015-10-31",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/webhook.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "automation-webhook",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks": {
            "get": {
                "description": "Retrieve a list of webhooks.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/webhookoperations"
                },
                "operationId": "Webhook_ListByAutomationAccount",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response model for the list webhook operation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Gets or sets the next link.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Gets or sets a list of webhooks.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The core properties of ARM resources",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM proxy resource.",
                                                        "properties": {},
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Definition of the webhook type.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Gets or sets the webhook properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "creationTime": {
                                                                "description": "Gets or sets the creation time.",
                                                                "format": "date-time",
                                                                "type": "string",
                                                                "nullable": false
                                                            },
                                                            "description": {
                                                                "description": "Gets or sets the description.",
                                                                "type": "string"
                                                            },
                                                            "expiryTime": {
                                                                "description": "Gets or sets the expiry time.",
                                                                "format": "date-time",
                                                                "type": "string",
                                                                "nullable": false
                                                            },
                                                            "isEnabled": {
                                                                "default": false,
                                                                "description": "Gets or sets the value of the enabled flag of the webhook.",
                                                                "type": "boolean"
                                                            },
                                                            "lastInvokedTime": {
                                                                "description": "Gets or sets the last invoked time.",
                                                                "format": "date-time",
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "lastModifiedBy": {
                                                                "description": "Details of the user who last modified the Webhook",
                                                                "type": "string"
                                                            },
                                                            "lastModifiedTime": {
                                                                "description": "Gets or sets the last modified time.",
                                                                "format": "date-time",
                                                                "type": "string",
                                                                "nullable": false
                                                            },
                                                            "parameters": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                                                "type": "object"
                                                            },
                                                            "runOn": {
                                                                "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                                "type": "string"
                                                            },
                                                            "runbook": {
                                                                "description": "Gets or sets the runbook the webhook is associated with.",
                                                                "properties": {
                                                                    "name": {
                                                                        "description": "Gets or sets the name of the runbook.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "uri": {
                                                                "description": "Gets or sets the webhook uri.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Webhook"
                ],
                "x-ms-examples": {
                    "List webhooks by Automation Account": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount33",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                                            "name": "TestWebhook",
                                            "properties": {
                                                "creationTime": "2017-03-29T22:18:14.6651862+00:00",
                                                "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
                                                "isEnabled": true,
                                                "lastInvokedTime": null,
                                                "lastModifiedBy": "",
                                                "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00",
                                                "parameters": null,
                                                "runOn": null,
                                                "runbook": {
                                                    "name": "TestRunbook"
                                                },
                                                "uri": null
                                            }
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/Webhook",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri": {
            "post": {
                "description": "Generates a Uri for use in creating a webhook.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/webhookoperations"
                },
                "operationId": "Webhook_GenerateUri",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Webhook"
                ],
                "x-ms-examples": {
                    "Generate webhook uri": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount33",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": "https://s13events.azure-automation.net/webhooks?token=O6n03K%2b1%2bSLPH50m4x9%2fcbcqtAu2tJDTvr8QHnbJ1kw%3d",
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}": {
            "delete": {
                "description": "Delete the webhook by name.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/webhookoperations"
                },
                "operationId": "Webhook_Delete",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The webhook name.",
                        "in": "path",
                        "name": "webhookName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Webhook"
                ],
                "x-ms-examples": {
                    "Delete webhook": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount33",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid",
                            "webhookName": "TestWebhook"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Retrieve the webhook identified by webhook name.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/webhookoperations"
                },
                "operationId": "Webhook_Get",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The webhook name.",
                        "in": "path",
                        "name": "webhookName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Definition of the webhook type.",
                                    "properties": {
                                        "properties": {
                                            "description": "Gets or sets the webhook properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationTime": {
                                                    "description": "Gets or sets the creation time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "description": {
                                                    "description": "Gets or sets the description.",
                                                    "type": "string"
                                                },
                                                "expiryTime": {
                                                    "description": "Gets or sets the expiry time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "isEnabled": {
                                                    "default": false,
                                                    "description": "Gets or sets the value of the enabled flag of the webhook.",
                                                    "type": "boolean"
                                                },
                                                "lastInvokedTime": {
                                                    "description": "Gets or sets the last invoked time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "lastModifiedBy": {
                                                    "description": "Details of the user who last modified the Webhook",
                                                    "type": "string"
                                                },
                                                "lastModifiedTime": {
                                                    "description": "Gets or sets the last modified time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "parameters": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                                    "type": "object"
                                                },
                                                "runOn": {
                                                    "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                    "type": "string"
                                                },
                                                "runbook": {
                                                    "description": "Gets or sets the runbook the webhook is associated with.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or sets the name of the runbook.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "uri": {
                                                    "description": "Gets or sets the webhook uri.",
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Webhook"
                ],
                "x-ms-examples": {
                    "Get webhook": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount33",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid",
                            "webhookName": "TestWebhook"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                                    "name": "TestWebhook",
                                    "properties": {
                                        "creationTime": "2017-03-29T22:18:14.6651862+00:00",
                                        "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
                                        "isEnabled": true,
                                        "lastInvokedTime": null,
                                        "lastModifiedBy": "",
                                        "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00",
                                        "parameters": null,
                                        "runOn": null,
                                        "runbook": {
                                            "name": "TestRunbook"
                                        },
                                        "uri": ""
                                    }
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Update the webhook identified by webhook name.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/webhookoperations"
                },
                "operationId": "Webhook_Update",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The webhook name.",
                        "in": "path",
                        "name": "webhookName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Definition of the webhook type.",
                                    "properties": {
                                        "properties": {
                                            "description": "Gets or sets the webhook properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationTime": {
                                                    "description": "Gets or sets the creation time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "description": {
                                                    "description": "Gets or sets the description.",
                                                    "type": "string"
                                                },
                                                "expiryTime": {
                                                    "description": "Gets or sets the expiry time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "isEnabled": {
                                                    "default": false,
                                                    "description": "Gets or sets the value of the enabled flag of the webhook.",
                                                    "type": "boolean"
                                                },
                                                "lastInvokedTime": {
                                                    "description": "Gets or sets the last invoked time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "lastModifiedBy": {
                                                    "description": "Details of the user who last modified the Webhook",
                                                    "type": "string"
                                                },
                                                "lastModifiedTime": {
                                                    "description": "Gets or sets the last modified time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "parameters": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                                    "type": "object"
                                                },
                                                "runOn": {
                                                    "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                    "type": "string"
                                                },
                                                "runbook": {
                                                    "description": "Gets or sets the runbook the webhook is associated with.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or sets the name of the runbook.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "uri": {
                                                    "description": "Gets or sets the webhook uri.",
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Webhook"
                ],
                "x-ms-examples": {
                    "Update webhook": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount33",
                            "parameters": {
                                "name": "TestWebhook",
                                "properties": {
                                    "description": "updated webhook",
                                    "isEnabled": false
                                }
                            },
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid",
                            "webhookName": "TestWebhook"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                                    "name": "TestWebhook",
                                    "properties": {
                                        "creationTime": "2017-03-30T21:52:01.272378+00:00",
                                        "expiryTime": "2018-03-30T23:03:14.5752078+00:00",
                                        "isEnabled": false,
                                        "lastInvokedTime": null,
                                        "lastModifiedBy": "",
                                        "lastModifiedTime": "2017-03-30T23:03:14.9069441+00:00",
                                        "parameters": null,
                                        "runOn": null,
                                        "runbook": {
                                            "name": "TestRunbook"
                                        },
                                        "uri": ""
                                    }
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The parameters supplied to the update webhook operation.",
                                "properties": {
                                    "name": {
                                        "description": "Gets or sets the name of the webhook.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Gets or sets the value of the webhook.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "description": {
                                                "description": "Gets or sets the description of the webhook.",
                                                "type": "string"
                                            },
                                            "isEnabled": {
                                                "description": "Gets or sets the value of the enabled flag of webhook.",
                                                "type": "boolean"
                                            },
                                            "parameters": {
                                                "additionalProperties": {
                                                    "type": "string"
                                                },
                                                "description": "Gets or sets the parameters of the job.",
                                                "type": "object"
                                            },
                                            "runOn": {
                                                "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The update parameters for webhook.",
                    "required": true
                }
            },
            "put": {
                "description": "Create the webhook identified by webhook name.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/webhookoperations"
                },
                "operationId": "Webhook_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The webhook name.",
                        "in": "path",
                        "name": "webhookName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Definition of the webhook type.",
                                    "properties": {
                                        "properties": {
                                            "description": "Gets or sets the webhook properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationTime": {
                                                    "description": "Gets or sets the creation time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "description": {
                                                    "description": "Gets or sets the description.",
                                                    "type": "string"
                                                },
                                                "expiryTime": {
                                                    "description": "Gets or sets the expiry time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "isEnabled": {
                                                    "default": false,
                                                    "description": "Gets or sets the value of the enabled flag of the webhook.",
                                                    "type": "boolean"
                                                },
                                                "lastInvokedTime": {
                                                    "description": "Gets or sets the last invoked time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "lastModifiedBy": {
                                                    "description": "Details of the user who last modified the Webhook",
                                                    "type": "string"
                                                },
                                                "lastModifiedTime": {
                                                    "description": "Gets or sets the last modified time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "parameters": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                                    "type": "object"
                                                },
                                                "runOn": {
                                                    "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                    "type": "string"
                                                },
                                                "runbook": {
                                                    "description": "Gets or sets the runbook the webhook is associated with.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or sets the name of the runbook.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "uri": {
                                                    "description": "Gets or sets the webhook uri.",
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Definition of the webhook type.",
                                    "properties": {
                                        "properties": {
                                            "description": "Gets or sets the webhook properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationTime": {
                                                    "description": "Gets or sets the creation time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "description": {
                                                    "description": "Gets or sets the description.",
                                                    "type": "string"
                                                },
                                                "expiryTime": {
                                                    "description": "Gets or sets the expiry time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "isEnabled": {
                                                    "default": false,
                                                    "description": "Gets or sets the value of the enabled flag of the webhook.",
                                                    "type": "boolean"
                                                },
                                                "lastInvokedTime": {
                                                    "description": "Gets or sets the last invoked time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "lastModifiedBy": {
                                                    "description": "Details of the user who last modified the Webhook",
                                                    "type": "string"
                                                },
                                                "lastModifiedTime": {
                                                    "description": "Gets or sets the last modified time.",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "parameters": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                                    "type": "object"
                                                },
                                                "runOn": {
                                                    "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                    "type": "string"
                                                },
                                                "runbook": {
                                                    "description": "Gets or sets the runbook the webhook is associated with.",
                                                    "properties": {
                                                        "name": {
                                                            "description": "Gets or sets the name of the runbook.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "uri": {
                                                    "description": "Gets or sets the webhook uri.",
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Webhook"
                ],
                "x-ms-examples": {
                    "Create or update webhook": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount33",
                            "parameters": {
                                "name": "TestWebhook",
                                "properties": {
                                    "expiryTime": "2018-03-29T22:18:13.7002872Z",
                                    "isEnabled": true,
                                    "runbook": {
                                        "name": "TestRunbook"
                                    },
                                    "uri": "https://s1events.azure-automation.net/webhooks?token=7u3KfQvM1vUPWaDMFRv2%2fAA4Jqx8QwS8aBuyO6Xsdcw%3d"
                                }
                            },
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid",
                            "webhookName": "TestWebhook"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                                    "name": "TestWebhook",
                                    "properties": {
                                        "creationTime": "2017-03-29T22:18:14.6651862+00:00",
                                        "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
                                        "isEnabled": true,
                                        "lastInvokedTime": null,
                                        "lastModifiedBy": "",
                                        "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00",
                                        "parameters": null,
                                        "runOn": null,
                                        "runbook": {
                                            "name": "TestRunbook"
                                        },
                                        "uri": ""
                                    },
                                    "type": "Microsoft.Automation/AutomationAccounts/Webhooks"
                                },
                                "headers": {}
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                                    "name": "TestWebhook",
                                    "properties": {
                                        "creationTime": "2017-03-29T22:18:14.6651862+00:00",
                                        "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
                                        "isEnabled": true,
                                        "lastInvokedTime": null,
                                        "lastModifiedBy": "",
                                        "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00",
                                        "parameters": null,
                                        "runOn": null,
                                        "runbook": {
                                            "name": "TestRunbook"
                                        },
                                        "uri": ""
                                    },
                                    "type": "Microsoft.Automation/AutomationAccounts/Webhooks"
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The parameters supplied to the create or update webhook operation.",
                                "properties": {
                                    "name": {
                                        "description": "Gets or sets the name of the webhook.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Gets or sets the properties of the webhook.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "expiryTime": {
                                                "description": "Gets or sets the expiry time.",
                                                "format": "date-time",
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "isEnabled": {
                                                "description": "Gets or sets the value of the enabled flag of webhook.",
                                                "type": "boolean"
                                            },
                                            "parameters": {
                                                "additionalProperties": {
                                                    "type": "string"
                                                },
                                                "description": "Gets or sets the parameters of the job.",
                                                "type": "object"
                                            },
                                            "runOn": {
                                                "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                                "type": "string"
                                            },
                                            "runbook": {
                                                "description": "Gets or sets the runbook.",
                                                "properties": {
                                                    "name": {
                                                        "description": "Gets or sets the name of the runbook.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "uri": {
                                                "description": "Gets or sets the uri.",
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "properties"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The create or update parameters for webhook.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "RunbookAssociationProperty": {
                "description": "The runbook property associated with the entity.",
                "properties": {
                    "name": {
                        "description": "Gets or sets the name of the runbook.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Webhook": {
                "allOf": [
                    {
                        "allOf": [
                            {
                                "description": "The core properties of ARM resources",
                                "properties": {
                                    "id": {
                                        "description": "Fully qualified resource Id for the resource",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the resource",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the resource.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                            }
                        ],
                        "description": "ARM proxy resource.",
                        "properties": {},
                        "type": "object"
                    }
                ],
                "description": "Definition of the webhook type.",
                "properties": {
                    "properties": {
                        "description": "Gets or sets the webhook properties.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "creationTime": {
                                "description": "Gets or sets the creation time.",
                                "format": "date-time",
                                "type": "string",
                                "nullable": false
                            },
                            "description": {
                                "description": "Gets or sets the description.",
                                "type": "string"
                            },
                            "expiryTime": {
                                "description": "Gets or sets the expiry time.",
                                "format": "date-time",
                                "type": "string",
                                "nullable": false
                            },
                            "isEnabled": {
                                "default": false,
                                "description": "Gets or sets the value of the enabled flag of the webhook.",
                                "type": "boolean"
                            },
                            "lastInvokedTime": {
                                "description": "Gets or sets the last invoked time.",
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "lastModifiedBy": {
                                "description": "Details of the user who last modified the Webhook",
                                "type": "string"
                            },
                            "lastModifiedTime": {
                                "description": "Gets or sets the last modified time.",
                                "format": "date-time",
                                "type": "string",
                                "nullable": false
                            },
                            "parameters": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                "type": "object"
                            },
                            "runOn": {
                                "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                "type": "string"
                            },
                            "runbook": {
                                "description": "Gets or sets the runbook the webhook is associated with.",
                                "properties": {
                                    "name": {
                                        "description": "Gets or sets the name of the runbook.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "uri": {
                                "description": "Gets or sets the webhook uri.",
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "WebhookCreateOrUpdateParameters": {
                "description": "The parameters supplied to the create or update webhook operation.",
                "properties": {
                    "name": {
                        "description": "Gets or sets the name of the webhook.",
                        "type": "string"
                    },
                    "properties": {
                        "description": "Gets or sets the properties of the webhook.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "expiryTime": {
                                "description": "Gets or sets the expiry time.",
                                "format": "date-time",
                                "type": "string",
                                "nullable": false
                            },
                            "isEnabled": {
                                "description": "Gets or sets the value of the enabled flag of webhook.",
                                "type": "boolean"
                            },
                            "parameters": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Gets or sets the parameters of the job.",
                                "type": "object"
                            },
                            "runOn": {
                                "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                "type": "string"
                            },
                            "runbook": {
                                "description": "Gets or sets the runbook.",
                                "properties": {
                                    "name": {
                                        "description": "Gets or sets the name of the runbook.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "uri": {
                                "description": "Gets or sets the uri.",
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "name",
                    "properties"
                ],
                "type": "object"
            },
            "WebhookCreateOrUpdateProperties": {
                "description": "The properties of the create webhook operation.",
                "properties": {
                    "expiryTime": {
                        "description": "Gets or sets the expiry time.",
                        "format": "date-time",
                        "type": "string",
                        "nullable": false
                    },
                    "isEnabled": {
                        "description": "Gets or sets the value of the enabled flag of webhook.",
                        "type": "boolean"
                    },
                    "parameters": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Gets or sets the parameters of the job.",
                        "type": "object"
                    },
                    "runOn": {
                        "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                        "type": "string"
                    },
                    "runbook": {
                        "description": "Gets or sets the runbook.",
                        "properties": {
                            "name": {
                                "description": "Gets or sets the name of the runbook.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "uri": {
                        "description": "Gets or sets the uri.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WebhookListResult": {
                "description": "The response model for the list webhook operation.",
                "properties": {
                    "nextLink": {
                        "description": "Gets or sets the next link.",
                        "type": "string"
                    },
                    "value": {
                        "description": "Gets or sets a list of webhooks.",
                        "items": {
                            "allOf": [
                                {
                                    "allOf": [
                                        {
                                            "description": "The core properties of ARM resources",
                                            "properties": {
                                                "id": {
                                                    "description": "Fully qualified resource Id for the resource",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the resource",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The type of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "ARM proxy resource.",
                                    "properties": {},
                                    "type": "object"
                                }
                            ],
                            "description": "Definition of the webhook type.",
                            "properties": {
                                "properties": {
                                    "description": "Gets or sets the webhook properties.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "creationTime": {
                                            "description": "Gets or sets the creation time.",
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description.",
                                            "type": "string"
                                        },
                                        "expiryTime": {
                                            "description": "Gets or sets the expiry time.",
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "isEnabled": {
                                            "default": false,
                                            "description": "Gets or sets the value of the enabled flag of the webhook.",
                                            "type": "boolean"
                                        },
                                        "lastInvokedTime": {
                                            "description": "Gets or sets the last invoked time.",
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "lastModifiedBy": {
                                            "description": "Details of the user who last modified the Webhook",
                                            "type": "string"
                                        },
                                        "lastModifiedTime": {
                                            "description": "Gets or sets the last modified time.",
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "parameters": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
                                            "type": "object"
                                        },
                                        "runOn": {
                                            "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
                                            "type": "string"
                                        },
                                        "runbook": {
                                            "description": "Gets or sets the runbook the webhook is associated with.",
                                            "properties": {
                                                "name": {
                                                    "description": "Gets or sets the name of the runbook.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "uri": {
                                            "description": "Gets or sets the webhook uri.",
                                            "type": "string"
                                        }
[...]
